In [1]:
import os
import pandas

In [2]:
print(pandas.__version__)

1.0.1

In [3]:
X = pandas.read_excel("autos.xlsx",sheet_name=0,header=0,index_col=0)

In [9]:
print(X.shape)
n , p = X.shape

(18, 6)

In [15]:
X.head(20)

                  CYL  PUISS  LONG  LARG  POIDS  V.MAX
Modele
Alfasud TI       1350     79   393   161    870    165
Audi 100         1588     85   468   177   1110    160
Simca 1300       1294     68   424   168   1050    152
Citroen GS Club  1222     59   412   161    930    151
Fiat 132         1585     98   439   164   1105    165
Lancia Beta      1297     82   429   169   1080    160
Peugeot 504      1796     79   449   169   1160    154
Renault 16 TL    1565     55   424   163   1010    140
Renault 30       2664    128   452   173   1320    180
Toyota Corolla   1166     55   399   157    815    140
Alfetta 1.66     1570    109   428   162   1060    175
Princess 1800    1798     82   445   172   1160    158
Datsun 200L      1998    115   469   169   1370    160
Taunus 2000      1993     98   438   170   1080    167
Rancho           1442     80   431   166   1129    144
Mazda 9295       1769     83   440   165   1095    165
Opel Rekord      1979    100   459   173   1120    173
Lada 1300        1294     68   404   161    955    140